* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fullscreen {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(45deg, rgb(244, 83, 83)0%, rgb(223, 145, 85)50%, rgb(252, 90, 176)100%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.maincontainer {
    height: 600px;
    width: 800px;
    background-image: url('https://images.unsplash.com/photo-1707924962886-12ad20367315?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 10px 12px rgb(21, 21, 21);
    border-radius: 25px;
    border: 3px solid rgb(223, 223, 223);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 30px 0;
    
}

.pic img {
    height: 250px;
    width: 200px;
    border-radius: 10px;
    border: 2.5px solid rgb(181, 181, 181);
    box-shadow: -2px 3px 5px rgb(57, 57, 57);
    

}

.question {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.question h2 {
    color: rgb(221, 255, 239);
    font-size: 32px;
    font-weight: 600;
    text-shadow:1.5px 1.5px 2px rgb(36, 36, 36);
}
.pic img,.question h2{
    transition: all 0.6s ease-in;
    opacity: 1;
    transform: translateX(0);
}

.pic img.hidden-left {
    opacity: 0;
    transform: translateX(-100px); 
}
.question h2.hidden-bottom{
    opacity: 0;
    transform: translateY(60px); 
    
    
}











.answer {
    height: 210px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #fff; */
    gap: 80px;
}

.main,
.sub {
    height: 130px;
    width: 180px;
    /* background-color: #8b8a8a; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_button,
.sub_button {
    height: 50px;
    width: 100px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 3px 3px 5px rgb(18, 18, 18);
    
    
}

.main_button h2,
.sub_button h2 {
    color: white;
    text-shadow: 2px 2px 2px rgb(34, 34, 34);
}
.main_button{
    background-color: #52a052;
}
.sub_button{
    background-color: #df7861;
    transition: all 0.3s ease-in;
}
.sub_button:hover{
    transform: scale(1.3);
}
.sub_button:active{
    box-shadow: 5px 5px 10px black;
    transform: scale(1.6)
}